/* Banner */
/* app */
@keyframes slides {
  0% {
    left: 0;
  };
  100% {
    left: -100%;
  };
}


.bannerWrapper {
  display: flex;
  width: 100%;
  height: 50px;
  z-index: 10;
  overflow: hidden;
  position:fixed;

}


.nestedBanner{
  width: 200%;
  display: flex;
  position: absolute;
  left: 0;
  background-color: rgba(146, 17, 5, 0.8);
  animation: slides 20s linear infinite;
  transform: translate3d(0, -50%);
	-webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

}

.bannerItems {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.text {
  padding: 3px;
  color: rgb(250, 233, 201);
  font-family: 'Bebas Neue', cursive;
  font-size: 21px;
}