.bannerWrapper {
  display: flex;
  width: 100vw;
  height: 50px;
  z-index: 10;
  position:fixed;

}


.nestedBanner {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(146, 17, 5, 0.8);
  height: 100%;
  transition: ease;
  justify-content: space-between;
}


.bannerItems {
  position: absolute;
  transition: ease;
  left: 0;
  width: 130%;
  /* transform: translateX(0%); */
  /* animation: slide 60s infinite ease-in-out; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 8px;
  overflow: hidden;

  
}


.bannerItems:hover {
  animation-play-state: paused;
  transition: .7s ease-in-out;

}

ul {
  padding-inline-start: 80px;
}



.text {
  padding: 3px;
  margin-left: 50px;
  color: rgb(250, 233, 201);
  font-family: 'Bebas Neue', cursive;
  font-size: 19px;
  height: 100%;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: rgba(146, 17, 5, 0.08);
  border-radius: 15px;
  transition: ease;
  text-overflow: clip;

}


.text:hover {
  transform: scale(1);
  transition: .8s ease-in-out;
  font-size: 20px;
  background-color: rgba(113, 14, 5, 0.8);
  animation-play-state: paused;

}