@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Darker+Grotesque:wght@300&family=Fjalla+One&family=Katibeh&family=Murecho:wght@100&family=Shrikhand&display=swap');



/* font-family: 'Bebas Neue, cursive;
font-family: 'Darker Grotesque, sans-serif;
font-family: 'Fjalla One, sans-serif;
font-family: 'Katibeh, cursive;
font-family: 'Murecho, sans-serif;
font-family: 'Shrikhand, cursive;  */




body {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;
}





ion-menu::part(backdrop) {
  background-color: rgba(170, 163, 147, 0.872);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(170, 163, 147, 0.872);
}

ion-button {
  --background: #ffffff;
  --background-hover: #25a2d4;
  --background-activated: #53a6c6;
  --background-focused: #5b90b3;

  --color: rgba(25, 114, 210, 0.675);

  --border-radius: 3;
  --border-color: #000;
  --border-style: solid;
  --border-width: .5px;

  --box-shadow: 0 2px 6px 0 rgba(1, 1, 1, 0.25);

  --ripple-color: rgb(53, 245, 149);

  --padding-top: 5px;
  --padding-bottom: 5px;
}