@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Darker+Grotesque:wght@300&family=Fjalla+One&family=Katibeh&family=Murecho:wght@100&family=Shrikhand&display=swap');

.section {
  background-image: url("../static/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  display: flex; 
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;  
}

.arrangedDetails {
  display: flex;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  justify-content: space-between;
  align-items: center; 
  align-content: center;
  top: 0;
}

.summary{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  align-content: center;
  padding: 25px
}

    
.midSection {
  background: rgba(0,0,0,.5);
  height: 420px;
  width: 95%;
  color: tomato;
  font-family: Darker Grotesque, sans-serif;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 150px;
  padding: 10px;
  border-radius: 7px;
}

.ionHeader {
  margin-top: 100px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-left: 40%;
  margin-right: 40%;
  position: relative;
  display: flex;
  align-items: center;
  width: 350px;
  background-color: rgba(146, 17, 5, 0.8);
  height: 85px;
  transition: ease;
  color: white;
  font-family: Shrikhand;
  font-size: 25px;
  justify-content: space-around;
}


.article {
  height: 500px; 
  width: 100%; 
  font-family: Darker Grotesque, sans-serif; 
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 25px;
  border-radius: 7px
}


.ionCard {
  width: 600px; 
  height: 475px; 
  border: 1px solid rgba(228, 228, 228, 0.6);
}

.ionImage {
  height: 400px; 
  width: 600px; 
  padding: 7px;
}

.details {
  margin-left: 100px; 
  margin-top: 14%;
}

.cardContent {
  font-family: Katibeh, cursive;
  font-size: 23.5px; 
  overflow: scroll; 
  padding: 10px
}

/* 
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}


#section {
  box-sizing: border-box;
  width: 100%;
  height: 101vh;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  padding: 50px;

}


#section span {
  display: block;
  transform: translateX(-100px);
  opacity: 0;
}


.containerPage > div {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 800;
  font-size: 25em;
  will-change: transform, opacity;
  text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
  -webkit-user-select: none;
  user-select: none;
} */