@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@600;700;800&family=Racing+Sans+One&family=Bebas+Neue&family=Darker+Grotesque:wght@300;500&family=Fjalla+One&family=Katibeh&family=Murecho:wght@300;700;800;900&family=Shrikhand&display=swap');

@keyframes sectionTwoAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {

    opacity: 1;
  }
}

@keyframes sectionThreeAnimation {
  0% {
    transform: translateX(-25px);
    border: 2px solid black;
    background-color: rgba(0,0,0,0);

  }
  50% {
    background-color: rgba(0,0,0,0);
    border-top: 2px solid whitesmoke;

  }
  60% {
    border-top: 1.5px solid black;

  }
  100% {
    border: none;
    background-color: rgba(0,0,0,.8);
    opacity: 1;
  }
}

@keyframes sectionThreeContentAnimation {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.dashboardContainer {
  background-image: url("../static/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  display: flex; 
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;  
}

.mainSectionOne {
  background-color: rgba(0,0,0,.8); 
  width: 80%; 
  height: 1900px;
  position: relative; 
  left: 10%; 
  right: 10%;
}

.sectionOneDetails {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: column;

}

.sectionOneHeaderWrapper {
  margin-top: 50px;
  position: absolute;
  top: 1%;
  z-index: 10;
  left: 9%;
}

.sectionOneHeader {
  position: absolute;
  top: 5%;
  left: 20%;
  display: flex;
  height: 155px;
  width: 625px;
  /* font-family: 'Space Grotesk', sans-serif;
  font-weight: 300; */
}

.h2 {
  color: rgba(234, 234, 234, .9);
  mix-blend-mode:difference;
  font-size: 4.5rem;
  letter-spacing: -2px;
  -webkit-text-stroke-color: rgb(34, 34, 34);
  -webkit-text-stroke-width: .5px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bolder; 
  border-bottom: 10px solid rgba(146, 17, 5, 0.8);

}

.sectionOneCarouselWrapper{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.resultsContentWrapper {
  height: 655px;
  width: 100%;
  margin-bottom: 100px;
}

.searchResultsWrapper{
  display: flex; 
  justify-content: center; 
  flex-direction: column;
  width: 80%;
  /* height: 950px; */
  align-items: center; 
  align-content: center;
  padding: 25px;
  margin-left: 10%;
}

.mainSectionTwo {
  width: 80%; 
  position: relative; 
  left: 10%; 
  right: 10%;
}
    
.sectionTwoDetails {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: column;

}




.sectionTwoH2 {
  font-size: 5.5rem;
  font-weight: 900;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: rgb(34, 34, 34);
  color: rgba(255, 255, 255, .85);
  letter-spacing: -1px;
  
}

.nestedOne {
  border-bottom: 8px solid rgba(146, 17, 5, 0.9);
  height: 88px;
  width: 800px;
  margin-bottom: -10px;

}

.nestedTwo {
  border-bottom: 8px solid rgba(146, 17, 5, 0.9);
  height: 88px;
  width: 550px;
}

.span {
  position: absolute;
  mix-blend-mode:color-dodge;

}

.sectionTwoImgWrapper {
  transition: 2.75s ease-in-out;
  animation: sectionTwoAnimation 2.75s;
  display: flex;
  margin-left: 0;
  position: relative;
  width: 720px;
  cursor: default;
  overflow: hidden;
}

.sectionTwoImg {
  border-radius: 6px;
  height: 375px; 
  width: 720px;
  transition: 1s ease-in-out;
  position: sticky; 
  object-fit: cover;

}


.sectionTwoImgLabel{
  position: absolute;
  left: 0;
  bottom: 25px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  height: 55px;
  width: 80%;
  transition: 1.2s ease-in-out;
  display: flex;
  color: whitesmoke;
  opacity: 0;
  font-size: 2rem;
  font-weight: 100;
  font-family: Darker Grotesque, sans-serif;
  cursor: default;

}

.sectionTwoHidden {
  margin-top: 25px;
  width: 90%;
  height: 225px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;

}


.sectionTwoLowerWrapper {
  position: relative;
  display: flex;
  justify-content: end;
  margin-top: 50px;
  overflow: hidden;
}

.sectionTwoImgContainer {
  transition: 3.5s ease-in-out;
  animation: sectionTwoAnimation 3.5s;
  display: flex;
  margin-right: 0;
  justify-content: end;
  padding: 0;
  position: relative;
  width: 720px;
  cursor: default;
  object-fit: contain;
  image-rendering: auto;
  margin-bottom: 175px;
  overflow: hidden;
  margin-top: 50px;
}



.sectionTwoNextImg {
  border-radius: 6px;
  height: 375px; 
  width: 650px;
  position: sticky; 
  transition: 1s ease-in-out;
  object-fit: cover;
  display: flex;
  justify-content: center;

}

.sectionTwoImgLabelTwo {
  position: absolute;
  right: 0;
  bottom: 25px;
  margin-right: 6%;

  bottom: 25px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  height: 55px;
  width: 80%;
  transition: 1.2s ease-in-out;
  display: flex;
  color: whitesmoke;
  opacity: 0;
  font-size: 2rem;
  font-weight: 100;
  font-family: Darker Grotesque, sans-serif;
  cursor: default;

}


.mainSectionThree {
  width: 80%; 
  position: relative; 
  left: 10%; 
  right: 10%;

}

.sectionThree {
  animation: sectionThreeAnimation 4s;
  transition: 4s ease-in-out;
  background-color: rgba(0,0,0,.8); 
  width: 100%; 
  height: 900px; 
  /* margin-bottom: 50px; */
  display: flex;
  flex-direction: column;
}

.sectionThreeTitleWrapper {
  height: 155px;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.sectionThreeHeader {
  height: 100%;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.sectionThreeH2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(234, 234, 234, .9);
  mix-blend-mode: difference;
  font-size: 4.5rem;
  letter-spacing: -2px;
  -webkit-text-stroke-color: rgb(34, 34, 34);
  -webkit-text-stroke-width: .5px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bolder; 
  /* border-bottom: 10px solid rgba(146, 17, 5, 0.8); */
}


.sectionThreeGmapWrapper {
  height: 500px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  image-rendering: auto;
}

@media only screen and (max-width: 850px) {
  .bannerWrapper {
    display: none;
    z-index: -10;
  }

  .mainSectionOne {
    background-color: rgba(0,0,0,.8); 
    width: 90%; 
    height: 1200px;
    position: relative; 
    left: 5%; 
    right: 5%;

  }

  .sectionOneDetails {
    width: 100%;
    padding: 20px;
    /* margin-bottom: 50px; */
    flex-direction: column;
    margin-top: -20px;
    display: flex; 
    justify-content: center; 
  
  }

  .sectionOneHeaderWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }

  .sectionOneHeader {
    position: absolute;
    top: 8px;
    left: -38px;
    font-weight: 300;
  }

  .h2 {
    color: rgba(234, 234, 234, .9);
    width: 370px;
    font-size: 3rem;
    letter-spacing: -1px;
    font-family: 'Segoe UI', sans-serif;
    height: 52px;
  }


  .resultsContentWrapper {
    height: 505px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 30px;
    /* display: flex; 
    justify-content: center;  */

  }
  
  .searchResultsWrapper{
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 400px;
  }






  .mainSectionTwo {
    width: 90%; 
    position: relative; 
    left: 5%; 
    right: 5%;
  }
      
  .sectionTwoDetails {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 45px;
    flex-direction: column;
  
  }
  
  
  
  
  .sectionTwoH2 {
    font-size: 3.5rem;
    font-weight: 900;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(34, 34, 34);
    color: rgba(255, 255, 255, .85);
    letter-spacing: -1px;
    
  }
  
  .nestedOne {
    border-bottom: 8px solid rgba(146, 17, 5, 0.9);
    height: 60px;
    width: 455px;
    margin-bottom: -15px;
  
  }
  
  .nestedTwo {
    border-bottom: 8px solid rgba(146, 17, 5, 0.9);
    height: 60px;
    width: 320px;
  }
  

  
  .sectionTwoImgWrapper {
    transition: 2.75s ease-in-out;
    animation: sectionTwoAnimation 2.75s;
    display: flex;
    margin-left: 0;
    position: relative;
    width: 100%;
    height: 300px;
    cursor: default;
    overflow: hidden;
  }
  
  .sectionTwoImg {
    border-radius: 6px;
    height: 100%; 
    width: 100%;
    transition: 1s ease-in-out;
    position: sticky; 
    object-fit: cover;
  
  }
  
  
  .sectionTwoImgLabel{
    position: absolute;
    left: 0;
    bottom: 25px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    height: 55px;
    width: 80%;
    transition: 1.2s ease-in-out;
    display: flex;
    color: whitesmoke;
    opacity: 0;
    font-size: 1.4rem;
    font-weight: 100;
    font-family: Darker Grotesque, sans-serif;
    cursor: default;
  
  }
  


  .sectionTwoHidden {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 90%;
    height: 225px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;

  }
  
  .sectionTwoNestedTitle {
    /* margin-bottom: 5px; */
    border-bottom: 1.5px solid whitesmoke;
  }
  
  .sectionTwoCardContent { 
    padding: 10px;
    margin-top: 20px;
    text-overflow: clip;
    margin-left: 10px;
    scroll-behavior: auto;
  
  }
  
  .contentText {
    padding: 5px;
    font-family: 'Murecho', sans-serif;
    color: whitesmoke;
    font-weight: 100 !important;
    font-size: 1.2rem !important;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    letter-spacing: 1px;
    -webkit-text-stroke-width: .5px;

  }

  
  .sectionTwoLowerWrapper {
    transition: 3.5s ease-in-out;
    animation: sectionTwoAnimation 3.5s;
    display: flex;
    margin-left: 0;
    position: relative;
    width: 100%;
    cursor: default;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
  }

  .sectionTwoImgContainer {
    transition: 3.5s ease-in-out;
    animation: sectionTwoAnimation 3.5s;
    display: flex;
    margin-right: 0;
    justify-content: end;
    padding: 0;
    position: relative;
    width: 720px;
    cursor: default;
    object-fit: contain;
    image-rendering: auto;
    margin-bottom: 175px;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 50px;

  }
  
  
  
  .sectionTwoNextImg {
    border-radius: 6px;
    height: 300px;

    width: 100%;
    transition: 1s ease-in-out;
    position: sticky; 
    object-fit: cover;
  }
  
  .sectionTwoImgLabelTwo {


    position: absolute;
    left: 0;
    bottom: 25px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    height: 55px;
    width: 80%;
    transition: 1.2s ease-in-out;

    color: whitesmoke;
    opacity: 0;
    font-size: 1.4rem;
    font-weight: 100;
    font-family: Darker Grotesque, sans-serif;
    cursor: default;
  
  }
  
  
  .mainSectionThree {
    width: 90%; 
    position: relative; 
    left: 5%; 
    right: 5%;
  
  }
  
  .sectionThree {
    animation: sectionThreeAnimation 4s;
    transition: 4s ease-in-out;
    background-color: rgba(0,0,0,.8); 
    width: 100%; 
    height: 500px; 
    /* margin-bottom: 50px; */
    display: flex;
    flex-direction: column;
  }
  
  .sectionThreeTitleWrapper {
    height: 155px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  .sectionThreeHeader {
    height: 100%;
    width: 100%;

  }
  
  .sectionThreeH2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(234, 234, 234, .9);
    mix-blend-mode: difference;
    font-size: 2.5rem;
    letter-spacing: -2px;
    -webkit-text-stroke-color: rgb(34, 34, 34);
    -webkit-text-stroke-width: .5px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bolder; 
    /* border-bottom: 10px solid rgba(146, 17, 5, 0.8); */
  }
  
  
  .sectionThreeGmapWrapper {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0%;
    margin-right: 0%;
    image-rendering: auto;
  }


}