.section {
  background-image: url("../static/images/foodyBG.jpg");
  background-size: contain;
  width: 100vw; 
  height: 100vh;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.ionCard {
  width: 350px; 
  height: 450px;
}

.cardContent {
  padding: 25px; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}

img {
  width: 250px; 
  height: 200px;
}