@keyframes sectionOneContentAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  65% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}


.resultsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.buttonWrapper {
  margin-top: 50px;
}

.resultsButton {
  width: 275px;
  height: 55px;
  background-color: transparent;
  border: 2px solid rgba(146, 17, 5, 0.8);
  border-radius: 4px;
}

.p {
  padding: 10px;
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
}


.resultsButton:hover  {
  transition: 1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(252, 252, 252, 0.8);
  box-shadow: 1px 1px 2px rgba(119, 117, 117, 0.8);
}

.resultsButton, .p:hover {
  transform: scale(1.05);
  transition: 1.5s ease-in-out;
  
}


.promo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(146, 17, 5, 0.8);
  width: 100%;
  height: 150px;
  transition: 1s ease-in-out;
  
}

.happyHour {
  color: whitesmoke;
  font-size: 3.6rem;
  letter-spacing: -2px;
  -webkit-text-stroke-color: rgb(34, 34, 34);
  font-family: 'Segoe UI', sans-serif;
  -webkit-text-stroke-width: .5px;
  font-weight: bolder; 
}

.a {
  text-decoration: none; 
  border-bottom: 2.5px solid whitesmoke; 
  color: whitesmoke;
}

.a:hover {
  color: rgba(252, 252, 252, 0.8);
  text-shadow: 1.5px 1.5px 5px black;
  transition: .5s ease-in-out;
}


.accordionWrapper {
  margin-top: 50px;
  height: 450px;
  visibility: hidden;
  transition: 2.5s ease-in-out;
}

#accordion {
  transition: 2.5s ease-in-out;
  animation: sectionOneContentAnimation 2.5s;
}

.accordionItem {
  width: 950px;

}

.accordionBody {
  display: flex;
  align-content: flex-start;
  width: 100%;
  color: whitesmoke;
  cursor:pointer;
  image-rendering: optimizeQuality;
}

.accordionImg {
  height: 200px;
  width: 180px;
  padding: 5px;
  image-rendering: auto;
}


.ionItem .rating {
  background-size: 14px 11.4px;
  height: 11.4px;
  width: 68px;
}

.rating {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.44 19'><polygon fill='%2380868b' points='10,15.27 16.18,19 14.54,11.97 20,7.24 12.81,6.63 10,0 7.19,6.63 0,7.24 5.46,11.97 3.82,19'/></svg>");
  background-repeat: repeat-x;
  display: inline-block;
  overflow: hidden;
  position: relative;
}


.centerButton {
  width: 310px;
  height: 55px;
  background-color: transparent;
  border: 2px solid rgba(146, 17, 5, 0.8);
  border-radius: 4px;
  margin-top: 30px;
}

.centerButton:hover {
  transition: 1.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(252, 252, 252, 0.8);
  box-shadow: -5px -5px -7px rgba(119, 117, 117, 0.8);
}

.centerButton, .p:hover {
  transform: scale(1.05);
  transition: 1.5s ease-in-out;
}



@media only screen and (max-width: 850px) {
  .resultsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    margin-top: 50px;
  }
  
  .buttonWrapper {
    margin-top: 50px;
  }
  
  .resultsButton {
    width: 275px;
    height: 55px;
    background-color: transparent;
    border: 2px solid rgba(146, 17, 5, 0.8);
    border-radius: 4px;
  }
  
  .p {
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
  }
  
  
  .resultsButton:hover  {
    transition: 1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(252, 252, 252, 0.8);
    box-shadow: 1px 1px 2px rgba(119, 117, 117, 0.8);
  }
  
  .resultsButton, .p:hover {
    transform: scale(1.05);
    transition: 1.5s ease-in-out;
    
  }
  
  
  .promo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(146, 17, 5, 0.8);
    width: 100%;
    height: 100px;
    transition: 1s ease-in-out;
    
  }
  
  .happyHour {
    color: whitesmoke;
    font-size: 1.6rem;
    letter-spacing: -2px;
    -webkit-text-stroke-color: rgb(34, 34, 34);
    font-family: 'Segoe UI', sans-serif;
    -webkit-text-stroke-width: .5px;
    font-weight: bolder; 
  }
  
  .a {
    text-decoration: none; 
    border-bottom: 2.5px solid whitesmoke; 
    color: whitesmoke;
  }
  
  .a:hover {
    color: rgba(252, 252, 252, 0.8);
    text-shadow: 1.5px 1.5px 5px black;
    transition: .5s ease-in-out;
  }
  
  
  .accordionWrapper {
    margin-top: 35px;
    height: 400px;
    width: 100%;
    visibility: hidden;
    transition: 2.5s ease-in-out;

  }
  
  #accordion {
    transition: 2.5s ease-in-out;
    animation: sectionOneContentAnimation 2.5s;
  }
  
  .accordionItem {
    width: 100%;
  
  }
  
  .accordionBody {
    display: flex;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    cursor: pointer;
    image-rendering: auto;
    border-bottom: .5px solid whitesmoke;

  }

  .accordionImg {
    height: 160px;
    width: 120px;
    padding: 5px;
    image-rendering: auto;
  }
  
  
  .ionItem .rating {
    background-size: 14px 11.4px;
    height: 11.4px;
    width: 68px;
  }
  
  .rating {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.44 19'><polygon fill='%2380868b' points='10,15.27 16.18,19 14.54,11.97 20,7.24 12.81,6.63 10,0 7.19,6.63 0,7.24 5.46,11.97 3.82,19'/></svg>");
    background-repeat: repeat-x;
    display: inline-block;
    overflow: hidden;
    position: relative;
  }
  

  .accordionDesc {
    display: none;
    z-index: -10;
  }
  
}
